<html>
    <head>
        <title>ToDo List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="todo-table" class="table">
            <form action="" class="form-group">
                <div class="form-group">
                    <input class="form-control" type="text" name="item" placeholder="Add new item.." required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" value="submit">Add Item</button>
                </div>
            </form>
            <ul class="form-group">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
    </body>
</html>